/* Podstawowe style */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Sekcja logowania */
#loginSection {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#loginSection form {
    display: flex;
    flex-direction: column;
}

#loginSection input,
#loginSection button {
    padding: 10px;
    margin: 5px 0;
}

#error {
    color: red;
}

/* Główna zawartość */
#mainContent {
    background-color: #ffffff;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
}

/* Stylizacja dla ról użytkowników */
.admin {
    background-color: #f1c40f;
}

.sg {
    background-color: #1abc9c;
}

button {
    cursor: pointer;
}
